



//set's everything to border-box (supported IE9+)
*,*:before,*:after {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}


//style user-selections text (not officially css supported)
::-moz-selection { background: $primary; color: $white; text-shadow: none; }
::selection { background: $primary; color: $white; text-shadow: none; }



//button styles
.button {
	
}

//site wrappers/containers
.inner {
	
}
