
// MIXINS

@mixin fillParent() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin paddingBottom($width: 1, $height: 1) {
  position: relative;
  height: 0;
  padding-bottom: #{((math.div($height, $width)) * 100) + "%"};
}
