// Color Pallette ---------------------//
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #242424;

$primary: $lime;
$secondary: $lime;


// Media Query settings -------------- //
$breakpoints: (
  'xs': '500px',
  'sm': '620px',
  'md': '767px',
  'lg': '992px',
  'xl': '1199px',
  'xxl': '1440px'
);

@mixin breakpointAbove($size: 'md') {
  @media (min-width: #{map.get($breakpoints, $size)}) {
    @content;
  }
};

@mixin breakpointBelow($size: 'md') {
  @media (max-width: #{map.get($breakpoints, $size)}) {
    @content;
  }
};


// Typography settings -------------- //
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$font-family-body: 'Aeonik', $font-family;
$font-family-heading: 'Fragment', $font-family;
$font-family-heading-alt: 'Aeonik', $font-family;

$font-size-micro: 0.75rem;
$font-size-xs: 0.8rem;
$font-size-sm: 0.9rem;
$font-size-default: 1rem;
$font-size-md: 1.85rem;
$font-size-lg: 2.2rem;
$font-size-lg-alt: 2.7rem;
$font-size-xl: 3.3rem;


// Easing / Timing Function settings ---- //
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);