
.site-footer {
	padding: 20px;
	border-top: 1px solid darken($white,5%);
}

.site-footer_nav {
	ul {
		list-style:none;margin:0;padding:0;
		@include clearfix();
	}
	li {
		display: block;
	}
}

.site-footer_copyright {
	font-size: .9em;
}


@media (min-width:$bp-md) {
	
	

}