
.site-header {
	padding: 20px;
	border-bottom: 1px solid darken($white,5%);
}

#site-title {
	color: $black;
}

.primary-nav {
	display: none;
	ul {
		list-style:none;padding:0;margin:0;
		@include clearfix();
	}

	li {
		display: block;
		text-align: right;
	}
	a {
	
	}
}

.mobile-toggle {
	float: right;
}



@media (min-width:$bp-md) {

	.site-header_left {
		@include column(3);
	}
	.site-header_right {
		@include column(9);
	}

	.mobile-toggle {
		display: none;
	}
	
	.primary-nav {
		display:block !important;
		float: right;

		li {
			display: inline-block;
			margin-left: 20px;
		}
	}

}